body{
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

#menu--toggle[type="checkbox"]:not(:checked),
#menu--toggle[type="checkbox"]:checked {
  display: none;
}

.menu--toggle__trigger,
.menu--toggle__burger,
.menu--toggle__burger:before,
.menu--toggle__burger:after {
  position: fixed;
  top: 1.6em;
  right: 1.6em;
  width: 2em;
  height: 5px;
  background-color: #666666;
  border-radius: 2px;
  cursor: auto;
  z-index: 100;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu--toggle__trigger {
  height: 2em;
  background: none;
}

.menu--toggle__burger:before {
  position: absolute;
  content: "";
  top: 10px;
  right: 0;
}
.menu--toggle__burger:after {
  position: absolute;
  content: "";
  top: 20px;
  left: 0;
}

.menu__body {
  position: fixed;
  width: 0;
  height: 0;
  margin: 0 auto;
  padding: 0;
  right: 0;
  background-color: rgba(102, 102, 102, 0.5);
  box-shadow: 3px 3px 7px rgba(40, 40, 40, 0.5);
  z-index: 20;
  animation: checkboxUncheckedAnimation 0.35s both;
}

.menu__body-element, .menu__body-link{
  display: none;
  margin: 5em 3em -3em 0;
  font-weight: normal;
  color: #ffffff;
  text-align: right;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  outline: 0;
}

.menu__body-element {
  text-indent: 2em;
}

.menu__body-link:hover {
  width: 100;
  cursor: pointer
  color: #ffffff;
  background-color: #555555;
}

#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger {
  top: 35px;
  transform: rotate(405deg);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger:before {
  top: 0;
  transform: rotate(-90deg);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger:after {
  top: 0;
  transform: rotate(90deg);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger + .menu__body {
  animation: checkboxCheckedAnimation 1s cubic-bezier(0.25, 0.1, 0.25, 1) both;
}
#menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-element, #menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-link {
  display: block;
}


/* 「RightToLeft」を適用する箇所 */
/*画面表示から0.5秒後に1秒かけながらアニメーションする指定。
あと、forwardsでアニメーション終了後もプロパティが100%のときのものを保持するようにします。*/
.slide1{
  animation: RightToLeft 1.2s ease 0.0s forwards;
}

.slide2{
  animation: RightToLeft 1.5s ease 0.0s forwards;
}

.slide3{
  animation: RightToLeft 2.0s ease 0.0s forwards;
}

.slide4{
  animation: RightToLeft 2.5s ease 0.0s forwards;
}

.slide5{
  animation: RightToLeft 3.0s ease 0.0s forwards;
}

.slide6{
  animation: RightToLeft 3.5s ease 0.0s forwards;
}

.slide7{
  animation: RightToLeft 4.0s ease 0.0s forwards;
}

.slide8{
  animation: RightToLeft 4.5s ease 0.0s forwards;
}

@keyframes checkboxCheckedAnimation {
  80% {
    /*右から出てきた時の背景の大きさを指定*/
    width: 23vw;
    height: 100vh;
  }
  100% {
    width: 23vw;
    height: 100vh;
  }
}

@keyframes checkboxUncheckedAnimation {
  0% {
    width: 23vw;
    height: 100vh;
  }
}

/* 「RightToLeft」の動作内容 */
@keyframes RightToLeft {
  0% {
    opacity: 0;/* 透明 */
  }
  10%{
    transform: translateX(20%);/* X軸方向に50px */
  }
  100% {
    opacity: 1;/* 不透明 */
    transform: translateX(0%);
    color: #ffffff;
  }
}

#pageHead .logo{
  position: fixed;/*最終的にすべてのところに追加可能性あり*/
	margin-top: 10px;
	margin-left: 10px; 
}

/* ここからページごとのCSSを書く */

/*縦スライドのページごとの設定*/
.section {
  background-image: url(../../images/home/back2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.section-content {
  height: 100%;
  margin: 0 auto;
  padding: 40px 60px;
  text-align: center;
}

.section-content .main-title{
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
}
.section-content .main-title p{
  font-size: 50px;
}


#pageFoot{
	border-top: 1px solid #1E90FF;
	padding: 10px;
	margin-top: 15px;
}

.main {
  position: relative;
}
.pager {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 0;
}
.pager li {
  display: block;
  margin: 20px;
}
.pager li a {
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
}

.pager .is-current a{
  background: #4169e1;
}
